/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}
body
{
   /* display: flex; */
   justify-content: center;
   align-items: left;
   min-height: 100vh;
   width: 100%;
   background: #f2f3f7;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #11101d;
  padding: 15px;
  z-index: 99;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item i {
  font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #11101d;
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  background: #4a587f;
  cursor: pointer;
}
.navbar #sidebar-close {
  cursor: pointer;
}
.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 100;
  background: #e7f2fd;
}
.main h1 {
  color: #11101d;
  font-size: 40px;
  text-align: center;
}
.heading{
    margin-left: 45%;
    margin-top: 45px;
    margin-bottom: 40px;
    
    }
    .container
    {
      margin-right:500px;
    }
    .container .card
    {
       width: 400px;
       height: 512px;
       padding: 60px 30px;
       margin: 20px;
       background: #ffffff;
       box-shadow: 0.6em 0.6em 1.2em #d2dce9,
                   -0.5em -0.5em 1em #ffffff;
       border-radius: 20px;
    }
    .container .card .content
    {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
    }
    .container .card .content .imgBx
    {
       width: 180px;
       height: 180px;
       border-radius: 20%;
       position: relative;
       margin-bottom: 20px;
       overflow: hidden;
    }
    .container .card .content .imgBx img
    {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;
    }
    .container .card .content .contentBx h4
    {
       color: #36187d;
       font-size: 1.2rem;
       font-weight: bold;
       text-align: center;
       letter-spacing: 2px;
    }
    .container .card .content .contentBx h5
    {
       color: #2649b4;
       font-size: 1.2rem;
       font-weight: bold;
       text-align: left;
    }
    .container .card .content .sci
    {
       margin-top: 20px;
    }
    .container .card .content .sci a
    {
       text-decoration: none;
       color: #6c758f;
       font-size: 30px;
       margin: 10px;
       transition: color 0.4s;
    }
    .container .card .content .sci a:hover
    {
       color: #0196e3;
    }
    .container .card .content .button{
      height: 45px;
      margin: 30px 0 ;
     
      }
      .container .card .content .button button{
    
      height: 100%;
      width: 100%;
      border-radius: 5px;
      border: none;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
      transition: all 0.3s ease;
       background: linear-gradient(120deg,#00467F, #A5CC82);
      }
      .container .card .content .button button:hover{
      /* transform: scale(0.99); */
      background: linear-gradient(-120deg,#00467F, #A5CC82);
      }
    